/* Importando Fontes */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* font-family: "Montserrat", sans-serif; */
/* font-family: "Montserrat Alternates", sans-serif; */

* {
    border: 0;
    box-shadow: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

.banner {
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.banner::before,
.banner::after {
    content: "";
    position: absolute;
    inset: 0;
    background-repeat: no-repeat;
    background-size: 40%;
    opacity: 0.2;
    pointer-events: none;
    z-index: -1;
}

.banner::before {
    background-image: url('./assets/fundoFrio.svg');
    background-position: center left;
    margin-top: 50%;
}

.banner::after {
    background-image: url('./assets/fundoQuente.svg');
    background-position: top right;
    margin-top: 50%;
}

.conteudo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.titulos {
    font-family: "Montserrat Alternates", sans-serif;
    display: inline-block;
    background-image: linear-gradient(
        to right,
        #f69b2f,
        #e15300,
        #a54c4e,
        #0178ad,
        #017eb5
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
}

.titulosDireita {
    font-family: "Montserrat Alternates", sans-serif;
    display: block;
    width: 100%;
    text-align: right; /* ou center se preferir */

    background-image: linear-gradient(
        to right,
        #f69b2f,
        #e15300,
        #a54c4e,
        #0178ad,
        #017eb5
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

/* Imagens no Geral */

.bordaSuperior {
    background-image: linear-gradient(
        to right,
        #f69b2f,
        #e15300,
        #a54c4e,
        #0178ad,
        #017eb5
    );
    height: 0.5rem;
    width: 100%;
}

.logo {
    width: 23%;
}

/* Nav */

.totalNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 100%;
    margin-bottom: 2rem;
}

.divBotaoIdioma {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 0 1rem;
}

.bordaBotaoIdioma {
    background-image: linear-gradient(
        to right,
        #f69b2f,
        #e15300,
        #a54c4e,
        #0178ad,
        #017eb5
    );
    padding: 0.2rem;
    border-radius: 0.7rem;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 3px 8px;
}

.botaoMudarIdioma {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    font-weight: 600;
    border-radius: 0.5rem;
    color: #000000;
}

.logoNomeBreeze {
    display: flex;
    gap: 0.6rem;
    justify-content: center;
    flex-wrap: wrap;
}

.subtituloNav {
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    width: 80%;
}

/* Descrição */

.bordaDescricao {
    background-image: linear-gradient(
        to right,
        #f69b2f,
        #e15300,
        #a54c4e,
        #0178ad,
        #017eb5
    );
    padding: 0.25rem;
    border-radius: 0.7rem;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 3px 8px;
    margin-bottom: 3rem;
}

.conteudoDescricao {
    padding: 0.5rem;
    background-color: #ffffff;
    font-size: 0.9rem;
    border-radius: 0.5rem;
}

.textoDescricao {
    flex-wrap: wrap;
    text-align: justify;
    font-weight: 500;
}

/* Tecnologias */

.divImagensTecnologias {
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.2rem;
    margin-bottom: 3rem;
}

.imagensTecnologias {
    min-width: 22%;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 3px 8px;
    border-radius: 0.4rem;
}

/* Time */

.divImgEquipe {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.2rem;
    margin-bottom: 2rem;
}

.bordaColoridaFotoTime {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.7rem;
    padding: 0.2rem;
    background-image: linear-gradient(
        to right,
        #f69b2f,
        #e15300,
        #a54c4e,
        #0178ad,
        #017eb5
    );
}


.imgEquipe {
    max-width: 320px;
    border-radius: 0.5rem;
}

/* Time Indivíduos */

.divEquipeIndividuos {
    background-image: linear-gradient(
        to right,
        #f69b2f,
        #e15300,
        #a54c4e,
        #0178ad,
        #017eb5
    );
    width: 100%;
    padding: 0.9rem 2rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.fotosEquipe {
    display: flex;
    justify-content: center;
    gap: 1rem;         /* Espaço entre membros */
    list-style: none;
    padding: 0;
    flex-wrap: wrap;   /* Quebra de linha no mobile */
}

.fotoMembro {
    max-width: 75px;
    height: auto;
    border-radius: 50%;
}

.nomes {
    font-size: 0.60rem;
    margin-top: 0.3rem;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
}

.imagemNomeIndividuo {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    align-items: center;
}

.iconeLinkedIn, .iconeGitHub {
    width: 15px;
}

.links {
    gap: 0.3rem;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Footer */

footer {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    width: 80%;
    justify-content: space-between;
    margin: 0 auto;
}

.ETS65anos {
    max-width: 40px;
    height: auto;
}

.logoBosch {
    max-width: 85px;
    height: auto;
}